.grid {
    display:block;
    margin: 100px auto;
    max-width: 80rem;
    // grid-template-rows: 1rem 1rem 1rem 1rem;
    
}



._stats {
    
display: block;
    

}

// .label {
//     float:right;

// }

// .value {
//     float: left;
// }
