

._options_form > div {
    display:grid;
    grid-template-columns: 1fr 2fr;
    // grid-template-rows: 40px 40px;

    align-items: center;
}
._options_form {
    margin: 10px 0px;
}
 label._options_pool, label._options_length {
    grid-column: 1;
    text-align: right;
    padding-right: 20px;
}

._options_form .value {
    grid-column: 2;
}

._options_length.value {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.length-text {
    width: 35px;
    margin: 0 10px;
    background: none;
    border: 1px solid $main-color;
    border-radius: 0;
    color:white;
    padding: 5px;
}

input.length-range {
    width: 60%;
}


._options_pool, ._options_length {
    margin-bottom: 20px 0;
}

.checkboxes {
    display:flex;
    flex-wrap: wrap;
    align-items: start;
}
._options_label-checkbox {
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    width: 50px;
    text-align: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

._options_label-checkbox:hover {
    cursor: pointer;

}

._options_label-checkbox.selected {
    background-color: $main-color;
    color:black;
}

._options_label-checkbox.unselected {
    background-color: $gray;
    color: white;
}

._options_label-checkbox.all-unselected {
    background-color: lighten(red, 30%);
    color: black;
}

._options_input-checkbox {
    visibility: hidden;
    width: 0;
    height: 0;
}

@media (min-width: $desktop-breakpoint) {
    input.length-range {
        width: 300px;
    }
}

