._password_container {
    max-width: 450px;
    max-height: 120px;
    border-radius: 20px;
    
    background: $dark-accent;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

._password_button-container {
    border-radius: 0 20px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    background: lighten($dark-accent, 15%);
}

._password_password {
    display: flex;
    
    padding: 10px 10px 10px 20px;
    width: 380px;
    height: 86px;
    overflow: hidden;
    word-break: break-all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;    
    box-sizing: border-box;

}

.top {
    align-items: start;
}

.center {
    align-items: center;
}

._password_button {
    background: none;
    border:none;
}

@media (min-width: $desktop-breakpoint) {
    ._password_button-container {
        flex-direction: row;

    }
}