._password_container {
    width: 450px;
    height: 120px;
    border-radius: 20px;
    
    background: $dark-accent;
    display: flex;
    margin: 0 auto;
    
}

._password_button-container {
    border-radius: 0 20px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    background: lighten($dark-accent, 15%);
}

._password_password {
    padding: 10px 10px 10px 20px;
    width: 381px;
    height: 110px;
    overflow: hidden;
    word-break: break-all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;    
    box-sizing: border-box;
    line-height: 2.5rem;

}

._password_button {
    background: none;
    border:none;
}