html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: $background;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.password {
    font-family: 'Roboto Mono', monospace;
}
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}